---
import { navLinks } from '@data/nav-links';
import classes from './NavigationLinks.module.css';

const activeLink = (link: string) => Astro.url.pathname === link;
---

<nav id="navMenu" class={classes.navigation + ' center-x'}>
  <ul>
    {
      navLinks.map((link) => (
        <li class={classes.navigation__item}>
          <a
            href={link.to}
            class:list={[classes.navigation__link, activeLink(link.to) && classes.active]}>
            <span data-title={link.name}>{link.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
@data/nav-links
