.themeBtn {
  position: var(--p-fixed);
  bottom: 4.5rem;
  right: calc((100% - var(--wrapper-outer-width)) / 2);
  z-index: 3;
}

.themeBtn svg {
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  opacity: 0;
}

.themeBtn [data-icon='sun'],
.themeBtn [data-icon='moon'] {
  transition: var(--transition-base);
}

@media (prefers-color-scheme: dark) {
  .themeBtn [data-icon='moon'] {
    opacity: 1;
  }
}

@media (prefers-color-scheme: light) {
  .themeBtn [data-icon='sun'] {
    opacity: 1;
  }
}

[color-scheme='dark'] [data-icon='moon'] {
  opacity: 1;
}

[color-scheme='dark'] [data-icon='sun'] {
  opacity: 0;
}

[color-scheme='light'] [data-icon='sun'] {
  opacity: 1;
}
[color-scheme='light'] [data-icon='moon'] {
  opacity: 0;
}
