---
import { Icon } from 'astro-icon/components';
import classes from './ThemeBtn.module.css';
---

<button
  type="button"
  id="themeBtn"
  class:list={[classes.themeBtn, 'btn btn-round center']}
  role="switch"
  aria-checked="false"
  aria-label="Switch theme">
  <Icon class="sun" name="sun" />
  <Icon class="moon" name="moon" />
</button>

<script>
  import { toggleTheme } from '@lib/theme';

  const themeBtn = document.getElementById('themeBtn') as HTMLButtonElement;
  const root = document.documentElement as HTMLElement;

  themeBtn.addEventListener('click', () => toggleTheme(root));
</script>
