---
import PageHeading from '@components/PageHeading/PageHeading.astro';
import classes from './ProjectsSection.module.css';
---

<section class={classes.section}>
  <div class="wrapper-inner">
    <PageHeading title="Projects" />
    <p>
      Welcome to the My Projects page! Here you will find a selection of some of my most exciting
      and innovative front-end web development projects. Each project represents a unique challenge
      and an opportunity for me. Some projects build from existing design, and some of them I
      planned, designed, and build from scratch. For all my projects I&#39;m using modern design
      principles and the latest front-end technologies and tools.
    </p>
  </div>
</section>
