.navigationBg {
  position: var(--p-absolute);
  top: var(--inset-y-0);
  left: var(--inset-x-0);
  background-color: var(--primary-clr-dark-700);
  transition: clip-path 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: var(--w-full);
  height: var(--h-full);
  z-index: 4;
  clip-path: circle(0rem at calc(((100% + var(--wrapper-outer-width)) / 2) - 1.5rem) 3rem);
  transition-delay: 0.9s;
  overflow-y: var(--overflow-auto);
}

.navigationBg[aria-expanded='true'] {
  clip-path: circle(100% at 50% 50%);
  transition: clip-path 2.5s cubic-bezier(0.19, 1, 0.22, 1);
}
