---
import BaseLayout from '@layouts/BaseLayout.astro';
import AboutMeSection from '@sections/AboutMeSection.astro';
import SkillsSection from '@sections/SkillsSection.astro';
import WhatIDoSection from '@sections/WhatIDoSection.astro';
---

<BaseLayout
  pageTitle="About Me | Sergejs Ivcenko - Web Development, Web Design & SEO"
  pageDescription="Passionate about web development, web design, and SEO.">
  <main>
    <div class="wrapper-outer">
      <AboutMeSection />
      <WhatIDoSection />
      <SkillsSection />
    </div>
  </main>
</BaseLayout>
