---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  pageTitle="About Me | Sergejs Ivcenko - Web Development, Web Design & SEO"
  pageDescription="Passionate about web development, web design, and SEO.">
  <main>
    <h1>About Me</h1>
    <h2>{Astro.url.pathname}</h2>
  </main>
</BaseLayout>
