---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  pageTitle="Blog | Sergejs Ivcenko Portfolio - Web Development"
  pageDescription="Explore my growing collection of web development ideas, tips, and articles.">
  <main>
    <h1>Blog</h1>
  </main>
</BaseLayout>
