---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  pageTitle="Sergejs Ivcenko Portfolio | Front End Web Developer - Dublin"
  pageDescription="Passionate, creative, and problem-solving Frontend Web Developer. I create modern, clean, mobile-first, responsive, functional, and beautiful interfaces.">
  <h1>Hello, I&apos;m <span>Sergejs</span></h1>
</BaseLayout>
