---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  pageTitle="Sergejs Ivcenko Portfolio | Front End Web Developer - Dublin"
  pageDescription="Passionate, creative, and problem-solving Frontend Web Developer. I create modern, clean, mobile-first, responsive, functional, and beautiful interfaces.">
  <main>
    <h1>Projects</h1>
  </main>
</BaseLayout>
