---
import classes from './Header.module.css';
import Navigation from '../Navigation/Navigation.astro';
---

<header class={classes.header}>
  <div class="wrapper-outer center-y space-between">
    <!-- Logo start -->
    <div id="logo"></div>
    <!-- Logo end -->
    <Navigation />
  </div>
</header>
