---
import classes from './CustomCursor.module.css';
---

<div id="cursor" aria-hidden="false" data-active="false" class={classes.cursor}></div>

<script>
  import gsap from 'gsap';

  const cursor = document.getElementById('cursor') as HTMLDivElement;
  const linksButtons = document.querySelectorAll('a, button') as NodeListOf<Element>;

  let mouseX = 0,
    mouseY = 0,
    posX = 0,
    posY = 0;

  const mouseCoords = (e: MouseEvent) => {
    mouseX = e.pageX;
    mouseY = e.pageY;
  };

  gsap.to(
    {},
    {
      duration: 0.01,
      repeat: -1,
      onRepeat: () => {
        posX += (mouseX - posX) / 6;
        posY += (mouseY - posY) / 6;
        gsap.set(cursor, {
          css: {
            left: posX,
            top: posY,
          },
        });
      },
    },
  );

  linksButtons.forEach((el) => {
    el.addEventListener('mouseover', () => {
      if (
        window.getComputedStyle(el).backgroundColor === 'rgb(48, 90, 173)' ||
        window.getComputedStyle(el).backgroundColor === 'rgb(86, 122, 228)'
      ) {
        cursor.style.borderColor = 'var(--clr-secondary)';
      } else {
        cursor.style.borderColor = 'var(--theme-btn)';
      }

      cursor.setAttribute('data-active', 'true');
    });
    el.addEventListener('mouseout', () => {
      cursor.setAttribute('data-active', 'false');
    });
  });

  // Attach a 'mousemove' event listener to the body to get mouse position
  document.body.addEventListener('mousemove', (e) => {
    cursor.setAttribute('aria-hidden', 'false');
    mouseCoords(e);
  });

  // Attach a 'mouseout' event listener to the body to hide custom cursor
  document.body.addEventListener('mouseout', (e) => {
    cursor.setAttribute('aria-hidden', 'true');
  });
</script>
