.columns {
  display: var(--d-grid);
  row-gap: var(--spacing-6);
}

.content {
  display: var(--d-grid);
  row-gap: var(--spacing-6);
  align-self: var(--align-start);
}

.title {
  margin: 0 0 var(--spacing-4);
}

.title span {
  color: var(--theme-btn);
  transition: var(--transition-base);
}

.desc {
  font-size: var(--text-md);
  font-weight: var(--fw-semibold);
}

.socials {
  display: var(--d-flex);
  column-gap: var(--spacing-3);
}

.btn {
  justify-self: var(--justify-start);
}

.portrait {
  border-radius: var(--rounded-md);
}

/* Media query for the tablet screen with min-width of the 460px - 28.75rem */
@media screen and (min-width: 30rem) {
  .desc {
    font-size: 1.25rem;
  }

  .title {
    margin: var(--spacing-5) 0 var(--spacing-4);
  }
}

/* Media query for the screen with min-width of the 960px - 60rem */
@media screen and (min-width: 60rem) {
  /* Home page styles */
  .columns {
    grid-template-columns: 1fr auto;
  }

  .title {
    margin: 0 0 var(--spacing-4);
  }
}
