---
import { getCollection, type CollectionEntry } from 'astro:content';
import classes from './ProjectsSlider.module.css';
import ProjectsSliderPagination from './ProjectsSliderPagination.astro';
import ProjectsSliderNavigation from './ProjectsSliderNavigation.astro';
import ProjectsSliderScrollbar from './ProjectsSliderScrollbar.astro';
import ProjectsSlide from './ProjectsSlide.astro';

const projects: CollectionEntry<'project'>[] = (await getCollection('project')).sort(
  (a: CollectionEntry<'project'>, b: CollectionEntry<'project'>) =>
    b.data.createdDate.valueOf() - a.data.createdDate.valueOf(),
);
---

<div class:list={[classes.projects, 'projects-slider']}>
  <ProjectsSliderPagination />
  <ProjectsSliderNavigation />
  <div class="swiper-wrapper">
    {projects.map((project) => <ProjectsSlide project={project} />)}
  </div>
  <ProjectsSliderScrollbar />
</div>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  import 'swiper/css/scrollbar';
  import 'swiper/css/navigation';
  import { projectsSliderParams } from '@lib/sliders/projectsSliderParams';
  import { animatePagination } from '@lib/animations/animatePagination';

  const projectsSlider = document.querySelector('.projects-slider') as HTMLDivElement;
  const currentSlide = document.querySelector('.current-slide') as HTMLSpanElement;

  const slider = new Swiper(projectsSlider, projectsSliderParams);

  // Update the current slide number when the slide is changes
  slider.on('slideChange', () => animatePagination(slider, currentSlide));
</script>
