---
import { Icon } from 'astro-icon/components';
import classes from './ProjectsSliderNavigation.module.css';
---

<div class:list={[classes.navigation]}>
  <button
    class:list={[classes.navigation__btn, 'prev-slide']}
    type="button"
    aria-label="Prev Slide">
    <Icon name="arrow-up" class={classes.icon} />
  </button>
  <button
    class:list={[classes.navigation__btn, 'next-slide']}
    type="button"
    aria-label="Next Slide">
    <Icon name="arrow-down" class={classes.icon} />
  </button>
</div>

<style>
  .slider-btn-disabled {
    color: rgba(255, 255, 255, 0.3);
  }
</style>
