---
import classes from './ProjectsSliderPagination.module.css';
---

<div class={classes.pagination}>
  <span class:list={[classes.pagination__current, 'current-slide']}>01</span> / <span
    class:list={[classes.pagination__total, 'total-slides']}>05</span
  >
</div>
