---
import Footer from '../components/Footer/Footer.astro';
import '../styles/global.css';

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={pageDescription} />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="wrapper-grid">
      <slot />
      <Footer />
    </div>
  </body>
</html>
